 <?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"

        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.bsdmasterindex.hackerDojo.cal"
        version     = "0.9"
        versionCode = "10" >

        <!-- versionCode is optional and Android only -->

        <preference name="phonegap-version" value="3.5.0" />

        <name>hackerDojo.cal</name>

        <description>
        Hacker Dojo (unoffical) Calender App
        </description>

        <author href="http://bsdmasterindex.com" email="jessemonroy650@yahoo.com">
        Jesse Monroy
        </author>
        <icon src="images/dojocal_icon.png" />
        <gap:platform name="android" />
        <gap:plugin name="org.apache.cordova.splashscreen" version="0.3.3" />
        <gap:plugin name="org.apache.cordova.network-information" version="0.2.12" />
    </widget>
